[build]
publish = "dist"
command = "pnpm run build"
[build.processing.html]
pretty_urls = false
[[headers]]
for = "/_astro/*"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
from = "/web-design"
to = "/services"
status = 301
force = true

[[redirects]]
from = "/web-development"
to = "/services"
status = 301
force = true

[[redirects]]
from = "/web-development/:city"
to = "/locations/:city/website-development"
status = 301
force = true
