---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with <br />
      <span class="text-accent dark:text-white highlight"> Criztec Technologies</span>
    </Fragment>

    <Fragment slot="subtitle">
      We're a passionate team of web designers and developers dedicated to helping businesses like yours thrive online.
      We believe a stunning website is more than just aesthetics; it's a powerful tool to connect with your audience,
      build your brand, and achieve your business goals.
    </Fragment>
  </Hero>

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'X',
          href: 'https://x.com/criztec_it',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/criztec_technologies',
        },
      },
      {
        icon: 'tabler:brand-facebook',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/criztec.technologies',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Story</h2>
      <p>
        Criztec Technologies was founded by Vimal Hari, an IT industry veteran with over 15 years of experience.
        Originally from India, Vimal established Criztec in the UK with a vision to provide businesses with
        high-quality, cost-effective web solutions.
      </p>
      <br />
      <p>
        The idea for Criztec was born from a common challenge: many UK businesses struggle to find skilled web
        developers who can meet their needs and budgets. Often, the options are either expensive UK-based firms or
        overseas companies that can be difficult to communicate and collaborate with.
      </p>
      <br />
      <p>
        Criztec bridges that gap. We offer the best of both worlds: expert project management and communication based in
        the UK, combined with the talent and cost-effectiveness of our development team in India.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CalltoAction ************** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Work with us',
        href: '/contact',
        // target: '_blank',
        icon: 'tabler:user-plus',
      },
    ]}
  >
    <Fragment slot="title">
      Criztec&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Technologies</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ready to transform your business with innovative IT solutions? <br class="hidden md:inline" /> Let's discuss your needs
      and unlock your digital potential.
    </Fragment>
  </CallToAction>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={2}
    items={[
      {
        title: 'United Kingdom',
        description: '121 Bath Road, Slough, Berkshire, United Kingdom, SL1 3UW',
      },
      {
        title: 'India',
        description: '1/694 Valyaipathi Salai, Mogappair East, Chennai 600037, India',
      },
    ]}
  />
</Layout>
