---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <div id="form-container">
    <iframe 
    src="https://forms.office.com/Pages/ResponsePage.aspx?id=9Tx_8ertr06M3TrVZD7biKqgAITMzgVDrkcmylHSritUQ1dWR1AyTkdGUzQxREFRMFZZVzlKUkFWRS4u&embed=true" 
    style="border: none; width: 100%; height: 100%" 
    > 
  </iframe>
  </div>
  
  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
     {
        title: 'General support',
        description: 'For general inquiries, account assistance, website navigation, or billing questions, our support team is ready to help.',
      },
      {
        title: 'Contact sales',
        description:
          'Have questions about our services, custom solutions, project proposals, or pricing? Get in touch with our sales team.',
      },
      {
        title: 'Technical support',
        description:
          'Experiencing technical difficulties? Contact our experts for assistance with website issues, software problems, or any other technical challenges.',
      },
      {
        title: 'Phone',
        description: '<a href="tel:+4407404979307">+44 (0) 74049 79307</a>',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: '<a href="mailto:info@criztec.com">info@criztec.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '121 Bath Road, Slough, Berkshire, United Kingdom, SL1 3UW',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>

<style>
  #form-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    /* min-height: 100vh;  No need for this if you don't want the container to fill the screen */
    height: 2200px; /* Set the container height to match the iframe height */
  }

  #form-container iframe {
    width: 100%; /* Make the iframe take up the full width of its container */
    height: 100%; /* Make the iframe take up the full height of its container */
  }
</style>