---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Criztec Technologies - Web Development & Digital Marketing London',
  description:
    'Criztec Technologies: Your trusted partner for web development and digital marketing in London. We deliver innovative solutions to boost your online presence and drive growth.',
  keywords: 'web development London, digital marketing London, SEO London, Criztec Technologies, IT solutions London',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Work with Us',
        href: '/contact',
        // target: '_blank',
        icon: 'tabler:user-plus',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.webp', alt: 'Criztec Hero Image' }}
  >
    <Fragment slot="title">
      Empowering your <span class="text-accent dark:text-white highlight"> Digital Future </span>
      <!-- <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 5.0</span> + Tailwind CSS -->
    </Fragment>

    <Fragment slot="subtitle">
      <!-- <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 5.0
        + Tailwind CSS.</span
      > -->
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      From web design, development and mobile apps, through to marketing, IT, security and software.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Innovative Solutions Delivered', amount: '75+' },
      { title: 'Client Success Rate', amount: '95%' },
      { title: 'Average Client Growth Achieved', amount: '30%' },
      { title: 'Years of Combined Expertise', amount: '100+' },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Services"
    title="What we do?"
    subtitle="Elevate your digital presence with Criztec. We craft cutting-edge IT solutions, including cloud migration, bespoke web applications, and stunning website experiences, tailored to your vision."
    items={[
      {
        title: 'Design',
        description:
          'Exceptional design services with a focus on user experience. The design team provides website design, graphic design, video, animation and 3D modelling services.',
        icon: 'tabler:brush', // Or a more suitable design-related icon
      },
      {
        title: 'Development',
        description:
          'We use a wide range of tools to create websites, web portals and applications that are easy to use and maintain.',
        icon: 'tabler:code', // Or a more relevant development icon
      },
      {
        title: 'Digital Marketing',
        description:
          'Professional UK agency offering bespoke, multi-channel digital marketing services to a range of small and large private and public companies.',
        icon: 'tabler:speakerphone', // Or a marketing-related icon like 'tabler:speakerphone'
      },
      {
        title: 'Technical',
        description:
          'Specialist IT engineers and analysts sharing their expertise with businesses to provide consultancy, support, hosting and maintenance to improve clients’ technological capabilities.',
        icon: 'tabler:server', // Or an icon related to IT support/infrastructure
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside Criztec"
    title="How we can help you?"
    items={[
      {
        title: 'Connect',
        description:
          "We forge powerful connections between businesses and technology, seamlessly integrating innovative solutions that bridge the gap between your brand and your audience. We don't just connect systems; we connect visions.",
        icon: 'tabler:link', // Or a suitable connection-related icon
      },
      {
        title: 'Create',
        description:
          "We design and engineer bespoke digital experiences, tailored to elevate your brand's presence and engage your audience. From visionary concepts to meticulous execution, we create transformative solutions that resonate with your unique identity.",
        icon: 'tabler:bulb', // Or a more relevant creative icon
      },
      {
        title: 'Catalyze',
        description:
          'We ignite your business potential, driving exponential growth with our strategic insights and cutting-edge technology. Our solutions act as a catalyst, propelling you forward to new heights of success and market leadership.',
        icon: 'tabler:rocket', // Or an icon symbolizing growth or acceleration
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Find out more content in our Blog" information={``} />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Work with us',
        href: '/contact',
        // target: '_blank',
        icon: 'tabler:user-plus',
      },
    ]}
  >
    <Fragment slot="title">
      Criztec&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Technologies</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ready to transform your business with innovative IT solutions? <br class="hidden md:inline" /> Let's discuss your needs
      and unlock your digital potential.
    </Fragment>
  </CallToAction>
</Layout>

<script>
  import { reset, run } from 'vanilla-cookieconsent';
  import { config } from '../components/common/CookieConsentConfig';

  const resetBtn = document.getElementById('reset-btn');
  const toggleThemeBtb = document.getElementById('toggle-theme-btn');

  resetBtn?.addEventListener('click', () => {
    reset(true);
    run(config);
  });

  toggleThemeBtb?.addEventListener('click', () => {
    document.body.classList.toggle('cc--elegant-black');
  });
</script>
