---
import Image from 'src/components/common/Image.astro';
---

<span class="flex items-center">
  <Image src="~/assets/images/CriztecLogo.png" alt="Criztec Logo" class="h-12 hidden lg:block brightness-0 invert" />
  <span class="lg:hidden text-xl font-bold text-white">CRIZTEC</span>
</span>
