.cc--elegant-black {
  --cc-bg: #0f172a;
  --cc-primary-color: rgb(241, 245, 249);
  --cc-secondary-color: #94a3b8 !important;

  --cc-btn-primary-bg: #f38020;
  --cc-btn-primary-color: #fff;
  --cc-btn-primary-hover-bg: #e06d10;
  --cc-btn-primary-hover-color: #fff;
  --cc-btn-primary-border-color: var(--cc-btn-primary-bg);

  --cc-btn-secondary-bg: rgba(255, 255, 255, 0.05);
  --cc-btn-secondary-color: var(--cc-primary-color);
  --cc-btn-secondary-border-color: #334155;
  --cc-btn-secondary-hover-bg: #334155;
  --cc-btn-secondary-hover-color: #fff;
  --cc-btn-secondary-hover-border-color: #334155;

  --cc-cookie-category-block-bg: #1e293b;
  --cc-cookie-category-block-border: #334155;
  --cc-cookie-category-block-hover-bg: #334155;
  --cc-cookie-category-block-hover-border: #475569;
  --cc-cookie-category-expanded-block-hover-bg: #334155;
  --cc-cookie-category-expanded-block-bg: #1e293b;
  --cc-toggle-readonly-bg: #475569;
  --cc-overlay-bg: rgba(15, 23, 42, 0.9) !important;

  --cc-toggle-on-bg: var(--cc-btn-primary-bg);
  --cc-toggle-off-bg: #475569;
  --cc-toggle-on-knob-bg: #fff;
  --cc-toggle-off-knob-bg: var(--cc-primary-color);
  --cc-toggle-readonly-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-enabled-icon-color: #fff;
  --cc-toggle-disabled-icon-color: var(--cc-btn-primary-color);
  --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);
  --cc-section-category-border: #334155;

  --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
  --cc-webkit-scrollbar-hover-bg: #f38020;

  --cc-separator-border-color: #334155;

  --cc-footer-bg: #0f172a;
  --cc-footer-color: var(--cc-secondary-color);
  --cc-footer-border-color: #334155;
}

.cc--elegant-black #cc-main .cm,
.cc--elegant-black #cc-main .pm {
  color-scheme: dark;
  border: 1px solid var(--cc-separator-border-color);
  border-radius: 1rem;
  backdrop-filter: blur(12px);
  background: rgba(15, 23, 42, 0.95);
}
